@model List<ModelLib.News>
 
@foreach (var item in Model)
{
    <article class="swiper-slide short-list hentry">
        <a class="entry-data"
           href="/Blog/Details/@item.id">
            <picture class="w-100">
                <img class="w-100" src="@Href(item.imageUrl)"
                     alt="@item.title" title="@item.title">
            </picture>
            <div class="hoverable">
                <h2 class="entry-title">@item.title</h2>
                <p class="entry-content ext-justify d-none d-sm-block">
                    @if (item.desc != null)
                    {
                        if (item.desc.Length > 150)
                        {
                            <span>
                                @item.desc.Substring(0, 149) ...
                            </span>
                        }
                        else
                        {
                            <span>@item.desc</span>
                        }
                    }
                    else
                    {
                        <span>بدون توضیحات</span>
                    }
                   
                </p>
            </div>
        </a>
    </article>

}
