@model List<ModelLib.Users>
@{
    ViewBag.Title = "صفحه مدریت کاربران ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="mt-3 ml-2"><h2 class="title-page">صفحه مدریت کاربران </h2></div>
<section class="container-fluid pl-3 pr-3">
    <a href="/Admin/Users/Operation" class="btn mt-3 btn-add">افزودن پست</a>
    <table class="table table-responsive table-hover table-bordered table-striped table-page mt-3">
        <tr>
            <th>###</th>
            <th>نام و نام خانوادگی</th>
            <th>تلفن</th>
            <th>ادرس</th>
            <th>ایمیل</th>
            <th>کد ملی</th>
            <th>رمز عبور</th>
            <th>نقش کاربر</th>
            <th>ادیت / حذف</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.firstNameAndLastName</td>
                <td>@item.tell</td>
                <td>@item.address</td>
                <td>@item.email</td>
                <td>@item.NationalCode</td>
                <td>@item.password</td>
                <td>@item.role_id</td>
                <td><a href="/Admin/Users/Operation/@item.id" class="icon-edit-page"><i class="fas fa-pen"></i></a> | <a href="/Admin/Users/Delete/@item.id" class="icon-delete-page"><i class="fas fa-trash"></i></a></td>
            </tr>
        }
    </table>
</section>
