@model ModelLib.Users
@{
    ViewBag.Title = "افزودن/اپدیت";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="container-fluid pl-3 pr-3">
    <div class="mt-3 ml-0"><h2 class="title-page">افزودن/اپدیت</h2></div>
    <form action="/Admin/Users/Operation" method="post" enctype="multipart/form-data" class="mt-3">
        <input type="hidden" name="id" id="id" value="@Model.id" />
        <table class="table">
            <tr>
                <td>نام و نام خانوادگی</td>
                <td>
                    <input type="text" id="firstNameAndLastName" name="firstNameAndLastName" class="form-control" value="@Model.firstNameAndLastName" />
                </td>
            </tr>
            <tr>
                <td>تلفن</td>
                <td>
                    <input type="text" id="tell" name="tell" class="form-control" value="@Model.tell" />
                </td>
            </tr>
            <tr>
                <td>آدرس</td>
                <td>
                    <input type="text" id="address" name="address" class="form-control" value="@Model.address" />
                </td>
            </tr>
            <tr>
                <td>ایمیل</td>
                <td>
                    <input type="email" id="email" name="email" class="form-control" value="@Model.email" />
                </td>
            </tr>
            <tr>
                <td>کد ملی</td>
                <td>
                    <input type="text" id="NationalCode" name="NationalCode" class="form-control" value="@Model.NationalCode" />
                </td>
            </tr>
            <tr>
                <td>رمز عبور</td>
                <td>
                    <input type="text" id="password" name="password" class="form-control" value="@Model.password" />
                </td>
            </tr>
            <tr>
                <td>نقش کاربر</td>
                <td>
                    <input type="text" id="role_id" name="role_id" class="form-control" value="@Model.role_id" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="ذخیره" class="btn btn-success" />
                </td>
                <td>
                    <input type="reset" value="انصراف" class="btn btn-warning" />
                </td>
            </tr>
        </table>
    </form>
</section>