@using ModelLib.Enums;
@model List<ModelLib.AdViewModel>
@{
    ViewBag.Title = "صفحه مدریت آگهی ها";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Head{
    <link href="~/Content/stl.css" rel="stylesheet" />
}
<div class="mt-3 ml-2"><h2 class="title-page">صفحه مدریت پست ها</h2></div>
<section class="container-fluid pl-3 pr-3">
    <a href="/Admin/Advertising/Operation" class="btn mt-3 btn-add">افزودن پست</a>
    <table class="table table-responsive table-hover table-bordered table-striped table-page mt-3">
        <tr>
            <th>###</th>
            <th>عنوان</th>
            <th>نوع آگهی</th>
            <th>قیمت</th>
            <th>رهن</th>
            <th>اجاره</th>
            <th>متراژ</th>
            <th>تعداد خواب</th>
            <th>طبقه</th>
            <th>تعداد طبقات</th>
            <th>سال ساخت</th>
            <th>آدرس</th>
            <th>توضیحات</th>
            <th>شماره تماس</th>
            <th>نام ثبت کننده آگهی</th>
            <th>نام ویرایش کننده آگهی</th>
            <th>تاریخ</th>
            <th>تاریخ سیستمی</th> 
            <th>استان</th>           
            <th>شهر</th>                          
            <th>نوع ملک</th>        
            <th>عکس آگهی</th>               
            <th>وضعیت</th>      
            <th>ویرایش / حذف</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td><label class="lblOne">@item.title</label></td>
                <td>
                    @if (item.typeOfAd == TypeAd.Buy)
                    {
                        <span>خرید</span>
                    }
                    else
                    {
                        <span>رهن و اجاره</span>
                    }
                </td>               
                <td>@item.Price</td> 
                <td>@item.mortgage</td> 
                <td>@item.rent</td>              
                <td>@item.area</td>
                <td>
                    @if (item.numberOfRooms == numberOfRooms.zero)
                    {
                        <span>0</span>
                    }
                    else if (item.numberOfRooms == numberOfRooms.one)
                    {
                        <span>1</span>
                    }
                    else if (item.numberOfRooms == numberOfRooms.tow)
                    {
                        <span>2</span>
                    }
                    else if (item.numberOfRooms == numberOfRooms.tree)
                    {
                        <span>3</span>
                    }
                    else if (item.numberOfRooms == numberOfRooms.four)
                    {
                        <span>4</span>
                    }                   
                    else
                    {
                        <span>5</span>
                    }
                </td>
                <td>
                    @if (item.floor == floor.zero)
                    {
                        <span>0</span>
                    }
                    else if (item.floor == floor.one)
                    {
                        <span>1</span>
                    }
                    else if (item.floor == floor.tow)
                    {
                        <span>2</span>
                    }
                    else if (item.floor == floor.tree)
                    {
                        <span>3</span>
                    }
                    else if (item.floor == floor.four)
                    {
                        <span>4</span>
                    }
                    else if (item.floor == floor.five)
                    {
                        <span>5</span>
                    }
                    else if (item.floor == floor.six)
                    {
                        <span>6</span>
                    }
                    else if (item.floor == floor.seven)
                    {
                        <span>7</span>
                    }
                    else if (item.floor == floor.eight)
                    {
                        <span>8</span>
                    }
                    else if (item.floor == floor.nine)
                    {
                        <span>9</span>
                    }
                    else if (item.floor == floor.ten)
                    {
                        <span>10</span>
                    }
                    else if (item.floor == floor.eleven)
                    {
                        <span>11</span>
                    }
                    else if (item.floor == floor.twelve)
                    {
                        <span>12</span>
                    }
                    else if (item.floor == floor.thirteen)
                    {
                        <span>13</span>
                    }                   
                    else if (item.floor == floor.fourteen)
                    {
                        <span>14</span>
                    }
                    else if (item.floor == floor.fifteen)
                    {
                        <span>15</span>
                    }
                    else if (item.floor == floor.sixteen)
                    {
                        <span>16</span>
                    }
                    else if (item.floor == floor.seventeen)
                    {
                        <span>17</span>
                    }
                    else if (item.floor == floor.eighteen)
                    {
                        <span>18</span>
                    }
                    else if (item.floor == floor.ninteen)
                    {
                        <span>19</span>
                    }
                    else
                    {
                        <span>20</span>
                    }
                </td>
                <td>
                    @if (item.numberOfFloors == numberOfFloors.zero)
                    {
                        <span>0</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.one)
                    {
                        <span>1</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.tow)
                    {
                        <span>2</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.tree)
                    {
                        <span>3</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.four)
                    {
                        <span>4</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.five)
                    {
                        <span>5</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.six)
                    {
                        <span>6</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.seven)
                    {
                        <span>7</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.eight)
                    {
                        <span>8</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.nine)
                    {
                        <span>9</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.ten)
                    {
                        <span>10</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.eleven)
                    {
                        <span>11</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.twelve)
                    {
                        <span>12</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.thirteen)
                    {
                        <span>13</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.fourteen)
                    {
                        <span>14</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.fifteen)
                    {
                        <span>15</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.sixteen)
                    {
                        <span>16</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.seventeen)
                    {
                        <span>17</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.eighteen)
                    {
                        <span>18</span>
                    }
                    else if (item.numberOfFloors == numberOfFloors.ninteen)
                    {
                        <span>19</span>
                    }
                    else
                    {
                        <span>20</span>
                    }
                </td>
                <td>
                    @if (item.productionYear == productionYear.zero)
                    {
                        <span>1398</span>
                    }
                    else if (item.productionYear == productionYear.one)
                    {
                        <span>1397</span>
                    }
                    else if (item.productionYear == productionYear.tow)
                    {
                        <span>1396</span>
                    }
                    else if (item.productionYear == productionYear.tree)
                    {
                        <span>1395</span>
                    }
                    else if (item.productionYear == productionYear.four)
                    {
                        <span>1394</span>
                    }
                    else if (item.productionYear == productionYear.five)
                    {
                        <span>1393</span>
                    }
                    else if (item.productionYear == productionYear.six)
                    {
                        <span>1392</span>
                    }
                    else if (item.productionYear == productionYear.seven)
                    {
                        <span>1391</span>
                    }
                    else if (item.productionYear == productionYear.eight)
                    {
                        <span>1390</span>
                    }
                    else if (item.productionYear == productionYear.nine)
                    {
                        <span>1389</span>
                    }
                    else if (item.productionYear == productionYear.ten)
                    {
                        <span>1388</span>
                    }
                    else if (item.productionYear == productionYear.eleven)
                    {
                        <span>1387</span>
                    }
                    else if (item.productionYear == productionYear.twelve)
                    {
                        <span>1386</span>
                    }
                    else if (item.productionYear == productionYear.thirteen)
                    {
                        <span>1385</span>
                    }
                    else if (item.productionYear == productionYear.fourteen)
                    {
                        <span>1384</span>
                    }
                    else if (item.productionYear == productionYear.fifteen)
                    {
                        <span>1383</span>
                    }
                    else if (item.productionYear == productionYear.sixteen)
                    {
                        <span>1382</span>
                    }
                    else if (item.productionYear == productionYear.seventeen)
                    {
                        <span>1381</span>
                    }
                    else if (item.productionYear == productionYear.eighteen)
                    {
                        <span>1380</span>
                    }
                    else if (item.productionYear == productionYear.ninteen)
                    {
                        <span>1379</span>
                    }
                    else
                    {
                        <span>1378</span>
                    }
                </td>              
                <td>@item.address</td>
                <td><textarea class="teOne">@item.description</textarea></td>
                <td>@item.tell</td>
                <td>
                    @if (item.CreatedBy != null)
                    {
                        <span>@item.CreatedBy.firstNameAndLastName</span>
                    }
                </td>
                <td>
                    @if (item.UpdatedBy != null)
                    {
                        <span>@item.UpdatedBy.firstNameAndLastName</span>
                    }
                </td>
                <td>@item.qdate</td>
                <td><label class="lblTow">@item.date</label></td>        
                <td>@item.Provience.title</td>       
                <td>@item.City_table.title</td>                                              
                <td>
                    @if (item.propertyType == PropertyType.apartment)
                    {
                        <span>آپارتمان</span>
                    }
                    else if (item.propertyType == PropertyType.Official)
                    {
                        <span>اداری</span>
                    }
                    else
                    {
                        <span>ویلایی</span>
                    }
                </td>
                <td><img src="@Href(item.imageUrl)" class="imgOne" /></td>
                <td>
                    @if (item.Condition == Condition.Ctrue)
                    {
                        <span>تایید شده</span>
                    }
                    else
                    {
                        <span>تایید نشده</span>
                    }
                </td>                                             
                <td><a href="/Admin/Advertising/Operation/@item.id" class="icon-edit-page"><i class="fas fa-pen"></i></a> | <a href="/Admin/Advertising/Delete/@item.id" class="icon-delete-page"><i class="fas fa-trash"></i></a></td>
            </tr>
        }
    </table>
</section>
