@using ModelLib
@model ContactUs
@{
    ViewBag.Title = "Contact";
}
<div class="main clearfix searching">
    <div class="w-100 bg-white">
        <div class="container pt-2">
            <div class="row">
                <div class="col-lg-6 col-8 pr-lg-3 pr-1">
                    <div class="single-bread-crumb py-0 search-result-page">
                        <div class="w-100 pb-2">
                            <div class="row">
                                @Html.Partial("_pBreadcrumb", (List<Breadcrumb>)ViewBag.Breadcrumb)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-4 pl-lg-2 pl-1">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-md-10 ">
                <div class="contact-title pt-5"><h1>تماس با ما</h1></div>
                <div class="contact-holder p-4 mt-3 mb-5">
                    <div class="row">
                        <div class="col-12 pb-3">
                            <div class="contact-title"><span>ارسال پیام</span></div>
                        </div>
                    </div>
                 
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div>
                                @Html.ValidationSummary(true)
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <div class="list-name">موضوع درخواست :*</div>
                                </div>
                                <div class="col-7">
                                    @Html.TextBoxFor(model => model.subject, new { @placeholder = "موضوع درخواست", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.subject)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-5">
                                    <div class="list-name">متن :*</div>
                                </div>
                                <div class="col-7">
                                    @Html.TextAreaFor(model => model.text, new { @placeholder = "متن", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.text)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <div class="contact-title"><span>مشخصات شما</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-5">
                                    <div class="list-name">نام و نام خانوادگی :*</div>
                                </div>
                                <div class="col-7">
                                    @Html.TextBoxFor(model => model.userName, new { @placeholder = "نام و نام خانوادگی", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.userName)                                  
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-5">
                                    <div class="list-name">ایمیل  :*</div>
                                </div>
                                <div class="col-7">
                                    @Html.TextBoxFor(model => model.email, new { @placeholder = "ایمیل", @class="form-control"})
                                    @Html.ValidationMessageFor(model => model.email)                                   
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-5">
                                    <div class="list-name">شماره موبایل :*</div>
                                </div>
                                <div class="col-7">
                                    @Html.TextBoxFor(model => model.tell, new { @placeholder = "شماره موبایل", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.tell)                                   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5"></div>
                            <div class="col-7">                                                               
                                <button id="btnS" type="submit" value="contact" class="shabesh-button red px-5"> ارسال</button>
                            </div>
                        </div>
                    }
                    @Html.Partial("_pContactUs", (List<ModelLib.ContactPage>)ViewBag.ContactUsDetails)                 
                </div>
            </div>
        </div>
    </div>
</div>


